# Ignore temp files
*~
*.swp
*.swo
#
/casainit.csh
/casainit.sh
casa5/code.cproject
casa5/code.project
casa5/code.settings
casa5/codebuild*
casa5/codecasadbus/plotserver/PlotServerProxy.dbusproxy.h
casa5/codecasadbus/session/DBusSession.dbusproxy.h
casa5/codecasadbus/viewer/ViewerProxy.dbusproxy.h
casa5/codecasaqt/PlotterImplementations/.cproject
casa5/codecasaqt/PlotterImplementations/.project
casa5/codecasaqt/QtBrowser/*.moc.cc
casa5/codecasaqt/QtBrowser/*.qrc.cc
casa5/codecasaqt/QtBrowser/*.ui.h
casa5/codecasaqt/QtBrowser/.cdtproject
casa5/codecasaqt/QtBrowser/.cproject
casa5/codecasaqt/QtBrowser/.project
casa5/codecasaqt/QtBrowser/.settings
casa5/codecasaqt/QtUtilities/*.moc.cc
casa5/codecasaqt/QtUtilities/*.qrc.cc
casa5/codecasaqt/QtUtilities/*.ui.h
casa5/codecasaqt/QtUtilities/.cproject
casa5/codecasaqt/QtUtilities/.project
casa5/codecasaqt/QwtPlotter/*.moc.cc
casa5/codecasaqt/QwtPlotter/*.qrc.cc
casa5/codecasaqt/QwtPlotter/*.ui.h
casa5/codecasaqt/QwtPlotter/.cproject
casa5/codecasaqt/QwtPlotter/.project
casa5/codecasaqt/apps/qwtplottertest/.cproject
casa5/codecasaqt/apps/qwtplottertest/.project
casa5/codedisplay/RegionShapes/*.moc.cc
casa5/codedisplay/RegionShapes/*.ui.h
casa5/codedisplay/RegionShapes/.cdtproject
casa5/codedisplay/RegionShapes/.cproject
casa5/codedisplay/RegionShapes/.project
casa5/codedisplay/RegionShapes/.settings
casa5/codegraphics/GenericPlotter/.cproject
casa5/codegraphics/GenericPlotter/.project
casa5/codegraphics/GenericPlotter/.settings
casa5/codeplotms/Actions/*.moc.cc
casa5/codeplotms/Actions/*.qrc.cc
casa5/codeplotms/Actions/*.ui.h
casa5/codeplotms/Actions/.cproject
casa5/codeplotms/Actions/.project
casa5/codeplotms/Data/*.moc.cc
casa5/codeplotms/Data/*.qrc.cc
casa5/codeplotms/Data/*.ui.h
casa5/codeplotms/Data/.cproject
casa5/codeplotms/Data/.project
casa5/codeplotms/Gui/*.moc.cc
casa5/codeplotms/Gui/*.qrc.cc
casa5/codeplotms/Gui/*.ui.h
casa5/codeplotms/Gui/.cproject
casa5/codeplotms/Gui/.project
casa5/codeplotms/GuiTabs/*.moc.cc
casa5/codeplotms/GuiTabs/*.qrc.cc
casa5/codeplotms/GuiTabs/*.ui.h
casa5/codeplotms/GuiTabs/.cproject
casa5/codeplotms/GuiTabs/.project
casa5/codeplotms/PlotMS/*.moc.cc
casa5/codeplotms/PlotMS/*.qrc.cc
casa5/codeplotms/PlotMS/*.ui.h
casa5/codeplotms/PlotMS/.cproject
casa5/codeplotms/PlotMS/.project
casa5/codeplotms/Plots/*.moc.cc
casa5/codeplotms/Plots/*.qrc.cc
casa5/codeplotms/Plots/*.ui.h
casa5/codeplotms/Plots/.cproject
casa5/codeplotms/Plots/.project
casa5/codeplotms/apps/casaplotms/.cproject
casa5/codeplotms/apps/casaplotms/.project
casa5/codexmlcasa/build.log.0415
casa5/gcwrap/apps/module_paramgui/Debug
casa5/gcwrap/apps/module_paramgui/build
casa5/gcwrap/apps/module_paramgui/setup.py
casa5/gcwrap/build*
casa5/gcwrap/python/implement/QtParamGui/*.moc.cc
casa5/gcwrap/python/implement/QtParamGui/*.qrc.cc
casa5/gcwrap/python/implement/QtParamGui/*.ui.h
casa5/gcwrap/python/implement/QtParamGui/.cproject
casa5/gcwrap/python/implement/QtParamGui/.project
casa5/gcwrap/python/modules/interrupt/build
casa5/gcwrap/tools/ms/htmlfiles
casa5/gcwrap/tools/ms/pdf_files
casa5/gcwrap/tools/plotms/.cproject
casa5/gcwrap/tools/plotms/.project
casa5/gcwrap/tools/scimath/htmlfiles
casa5/gcwrap/tools/scimath/pdf_files
casa5/gcwrap/tools/synthesis/htmlfiles
casa5/gcwrap/tools/synthesis/pdf_files
/linux_64b
!casa5/gcwrap/python/scripts/imagerhelpers/*~
!casa5/gcwrap/python/scripts/imagerhelpers/*.swp
!casa5/gcwrap/python/scripts/imagerhelpers/*.swo
