bin/
project/
target/
.cache
.classpath
.project
.settings
*.class
*~
.built.grpc
.created.closure
.sakura
.updated.vlafillertask
autom4te.cache
casatools.egg-info
setup.py
tests/tools/__pycache__
scripts/java
sakura-source
include/casacore/casa/version.h
.lib-mangle.*
.lib-path.*
config.log
config.status
configure
build.properties
